<?xml version="1.0"?>
<launch>

    <arg name="publish_clock" default="--clock" />
    <arg name="dataset_cfg" default="/config/ct_odometry_livox.yaml" />
    <arg name="bag_path" default="/media/tmn/mySataSSD21/DATASETS/R3live/degenerate_seq_00.bag" />
    <arg name="pasue_time" default="-1" />
    <arg name="verbose" default="false" />

    <node pkg="clic" type="odometry_node" name="$(anon odometry_node)" output="screen">
        <param name="dataset_cfg" type="string" value="$(find clic)$(arg dataset_cfg)" />

        <!-- if 'bag_path' is none here then use get the 'bag_path' params in the yaml file-->
        <param name="bag_path" type="string" value="$(arg bag_path)" />
        <param name="pasue_time" type="double" value="$(arg pasue_time)" />
        <param name="verbose" type="bool" value="$(arg verbose)" />
    </node>

    <!-- Rosbag play -->
    <node required="false" pkg="rosbag" type="play" name="rosbag_player"
          args="$(arg publish_clock) $(arg bag_path) -r 1.0 -s 0.0"
          launch-prefix="bash -c 'sleep 1.0; $0 $@' " />

    <!-- RVIZ  -->
    <node pkg="rviz" type="rviz" name="rviz_odom" output="log" required="true"
          args="-d $(find clic)/launch/clic.rviz" />

</launch>