<?xml version="1.0"?>

<launch>

  <arg name="autorun"           default = "false" />
  <arg name="publish_clock"     default = "--clock" />
  <arg name="pasue_time"        default = "-1" />
  <arg name="verbose"           default = "false" />

  <!-- Path to MCD dataset -->
  <arg name="data_path" value="/media/tmn/mySataSSD1/DATASETS/MCDVIRAL/PublishedSequences"/>

  <arg name="bag_file" default = "$(arg data_path)/ntu_day_01/*.bag" />
  <!-- <arg name="bag_file" default = "$(arg data_path)/kth_day_06/*.bag" /> -->
  <!-- <arg name="bag_file" default = "$(arg data_path)/tuhh_day_04/*.bag" /> -->
  
  <arg name="dataset_cfg" value="atv" if="$(eval 'ntu_'  in bag_file)" />
  <arg name="dataset_cfg" value="hhs" if="$(eval 'kth_'  in bag_file)" />
  <arg name="dataset_cfg" value="hhs" if="$(eval 'tuhh_' in bag_file)" />
  
  <!-- Run the livox to ouster converter -->
  <!-- <node pkg="slict" type="slict_livox_to_ouster" name="slict_livox_to_ouster" respawn="false" output="log" required="true"></node>   -->

  <!-- Create the merge pointcloud -->
  <!-- <node pkg="slict" type="slict_merge_lidar" name="slict_merge_lidar" respawn="true" output="screen" required="false">
    <rosparam file="$(find slict)/config/mcdviral_$(arg dataset_cfg).yaml" command="load"/>
  </node> -->

  <!-- Modify the path to sensor config -->
  <node required="false" pkg="clic" type="odometry_node" name="odometry_node" output="screen">
    <param name="dataset_cfg"     type="string" value="$(find clic)/config/ct_odometry_mcdviral_$(arg dataset_cfg).yaml" />
    <param name="config_path"     type="string" value="$(find clic)/config" />
    <param name="bag_path"        type="string" value="$(arg bag_file)" />
    <param name="pasue_time"      type="double" value="$(arg pasue_time)" />
    <param name="verbose"         type="bool"   value="$(arg verbose)" />
  </node>

  <!-- Image conversion -->
  <!-- <node pkg="image_transport" type="republish" name="clic_republish"
       args="compressed in:=/camera/image_raw raw out:=/camera/image_raw" output="screen" respawn="true"/> -->

  <!-- start plotjuggler (-\-layout)-->
  <!-- <node pkg="plotjuggler" type="plotjuggler" name="my_plot_Juggler" args= "-layout $(find clic)/config/rviz/plotjuggler_bias.xml" /> -->

  <!-- <param name="/use_sim_time" value="true" /> -->

  <!-- Play the bag file -->
  <!-- <node pkg="rosbag" type="play" name="play1" output="log" required="true" args="$(arg publish_clock) $(arg bag_path) -r 1.0 -s 0.0" /> -->
  <node required="$(arg autorun)" pkg="rosbag" type="play" name="rosbag_player"
        args="$(arg publish_clock) $(arg bag_file) -r 1.0 -s 0.0"
        launch-prefix="bash -c 'sleep 1.0; $0 $@' "/>

  <!-- Visualize -->
  <node pkg="rviz" type="rviz" name="rviz_odom" output="log" required = "true" args="-d $(find clic)/launch/clic.rviz" />

</launch>
